@model SymViewModel.Common.OtherInfoVM

<div class="headrow">
    <button type="button" title="Add New @Model.LabelInfoType" data-url="/Common/OtherInfo/Create?infoType=@Model.InfoType" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete  @Model.LabelInfoType" data-url="/Common/OtherInfo/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    <label class="pull-right">@Model.LabelInfoType</label>

</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>@Model.LabelInfoType List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th class="center">
                    <input type="checkbox" class="chkAll" />Select All</th>
                <th>Code</th>
                <th>Name</th>
                <th>Remarks</th>
                @*
Code   
Name   
Remarks
                *@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New @Model.LabelInfoType" data-url="/Common/OtherInfo/Create?infoType=@Model.InfoType" id="" class="btnCreate sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Delete  @Model.LabelInfoType" data-url="/Common/OtherInfo/Delete" onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Common/OtherInfo/_index?infoType=@Model.InfoType",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "12%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">'
                                        + '&nbsp; <a id="lnkEdit1"  title="Click on for Edit" style="text-decoration:none;"    href=\"/Common/OtherInfo/Edit/' + oObj.aData[0] + '\" class=" lnkEdit sym-btn-edit-row"></a>'
                                        + '&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/Common/OtherInfo/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                    ;
                                }
                            }
                            , { "sName": "Code   ", "sWidth": "15%" }
                            , { "sName": "Name   ", "sWidth": "15%" }
                            , { "sName": "Remarks", "sWidth": "15%" }


            ]
        });
    });
</script>
