@{
    ViewBag.Title = "ImportLeaveEncashment";
}
@using UIHelper.MVC
<div class="headrow">
    <label class="pull-right">Employee Leave Encashment Export > Excel Import/Export</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Employee Leave Encashment Export</p>
    </div>

    <div class="row">
        <div class="thinbox col-md-4" style="left: 35%;">

            <div class="th_thinbox">
                <p>Fiscal Year</p>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="editor-label lab">
                        <label>Year</label>
                    </div>

                    <div class="editor-field">
                        <div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        
        <div class="thinbox col-md-6">
            <div class="th_thinbox">
                <p>Employee Leave Encashment Export</p>
            </div>
            <div class="row">

                @*<div class="col-md-1">
                    <div class="editor-label">
                        <label>Year</label>
                    </div>

                    <div class="editor-field">
                        <div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>
                    </div>
                </div>*@

                @*<div class="col-md-2">
                    <div class="editor-label">
                        <label>Fiscal Period</label>
                    </div>

                    <div class="editor-field">
                        <div>
                            @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = "required fpDetailsCom form-control" })
                        </div>
                    </div>
                </div>*@

                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>Employee Code(From)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>Employee Code(To)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })

                    </div>
                </div>
              
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>Designation</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>@Session["DepartmentLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>@Session["SectionLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>@Session["ProjectLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="editor-label lab">
                        <label>Order By</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("Orderby", "/Config/DropDown/EnumOrderBy?Module=Salary", new { @class = "required form-control" })
                    </div>
                </div>
            </div>

                <br />
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <label>&nbsp;</label>
                        <button id="btnSearch" class="sym-btn-Excel-Export" type="button">&nbsp;Download</button>
                    </div>
                </div>
            </div>

        <div class="thinbox col-md-5" style="margin-left: 20px;">
            <div class="th_thinbox">
                <p>Employee Leave Encashment Import</p>
            </div>
            @using (Ajax.BeginForm("ImportOtherEarningExcel", "EmployeeEarnLeaveEncashment", null, new AjaxOptions { }, new { enctype = "multipart/form-data", id = "ImportOtherEarningExcel" }))
            {
                @Html.Hidden("FYDId");

                <div class="col-md-6">

                    <div class="col-md-6">
                        <label>File</label>
                        <input type="file" accept=".xlsx" name="file" id="FileUpload" style="width: 200px;" class="required" />
                    </div>
                </div>
                <div class="col-md-6">

                    <label>&nbsp;</label>
                    @*<button type="button" onclick="pageSubmit('ImportOtherEarningExcel');" class="sym-btn-file-upload" value="Upload" style="width: 50%; text-align: center;">&nbsp;Upload</button>*@
                    <button type="button" onclick="ImportOtherEarning();" class="sym-btn-file-upload" value="Upload" style="width: 50%; text-align: center;">&nbsp;Upload</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        InitDropdownsCommon();
        valiDation('ImportOtherEarningExcel');
    });
    $('#btnSearch').click(function () {
        //var path = window.location.href;
        var ProjectId = $("#ProjectId").val();
        var DepartmentId = $("#DepartmentId").val();
        var SectionId = $("#SectionId").val();
        var DesignationId = $("#DesignationId").val();
        var CodeF = $("#CodeF").val();
        var CodeT = $("#CodeT").val();
        var Orderby = $("#Orderby").val();

        var text = /^[0-9]+$/;
        var FiscalYearDetailId = $('.fiscalyearCom').val();
        console.log(FiscalYearDetailId)
        if (FiscalYearDetailId != 0) {
            if ((FiscalYearDetailId != "") && (!text.test(FiscalYearDetailId))) {

                ShowResult("Fail", "Please Enter Numeric Values Only!");

                return false;
            }

            if (FiscalYearDetailId.length != 4) {
                ShowResult("Fail", "ear is not proper. Please check!");
                return false;
            }

        }

        if (Orderby == "") {
            ShowResult('Fail', "Please Select Order By ");
            return false;
        }

        window.location = '@Url.Action("DownloadOtherEarningExcel", "EmployeeEarnLeaveEncashment")' + '?fid=' + FiscalYearDetailId
                  + '&ProjectId=' + ProjectId
                  + '&DepartmentId=' + DepartmentId
                  + '&SectionId=' + SectionId
                  + '&DesignationId=' + DesignationId
                  + '&CodeF=' + CodeF
                  + '&CodeT=' + CodeT
                  + '&Orderby=' + Orderby
    });
</script>

<script>

    function ImportOtherEarning() {
         
       
        ImportData();
    }

    function ImportData() {

        
            pageSubmit('ImportOtherEarningExcel');


    }


</script>