@model SymViewModel.Attendance.HoliDayVM
@using UIHelper.MVC

@using (Html.BeginForm("Create", "HoliDay", FormMethod.Post, new { @Id = "frmHoliDay" }))
{
    @Html.ValidationSummary(true)
        
    <div class="headrow">
        <button type="button" title="Save Data" onclick="pageSubmit('frmHoliDay')" class="sym-btn-save">&nbsp;Save</button>
        <button type="button" title="Go To Index" data-url="/Common/HoliDay" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
 <label class="pull-right"> Holiday > Create</label>
    </div>
    

    <div class="thinbox">
        <div class="th_thinbox">
        <p>Holiday</p>   
        </div>
        <div class="timePolicy">
        <div class="row">
           @* <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new {@placeholder = "Name", @class =" required form-control" })
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.HoliDay)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.HoliDay, new {@placeholder = "Holiday", @class ="customDatePicker required form-control" })
                    @*@Html.ValidationMessageFor(model => model.HoliDay)*@
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.HoliDayType)
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDownFor(model => model.HoliDayType,  "/Config/DropDown/HoliDayTypeName", new { @class = " required form-control" })

                    @*@Html.SimpleDropDown("HoliDayType", "/Config/DropDown/HoliDayTypeName", new { @class = "required form-control selectDropdown" })*@
                    @*@Html.ValidationMessageFor(model => model.HoliDayType)*@
                </div>
            </div>

            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Remarks)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Remarks, new { @placeholder = "Remarks", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>
        </div>
        @*<div class="row">
            
            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Remarks)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Remarks, new {@placeholder = "Remarks", @class ="form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>
        </div>*@
        </div>
    </div>
    
    
    <div class="headrow">
        <button type="button" title="Save Data" onclick="pageSubmit('frmHoliDay')" class="sym-btn-save">&nbsp;Save</button>
        <button type="button" title="Go To Index" data-url="/Common/HoliDay" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>
    </div>
    
}
<script>
    $(function () {
        InitDatePickers();
        fromWriteColor("frmHoliDay");
        valiDation("frmHoliDay");

    });
</script>
