@model SymViewModel.Common.UserLogsVM

@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
@{
    Layout = null;
 }
@using (Html.BeginForm("PasswordChange", "User", FormMethod.Post, new { @Id = "frmUser" }))
{
    @Html.ValidationSummary(true)
      @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.BranchId)
                @Html.HiddenFor(model => model.EmployeeId)
                @Html.HiddenFor(model => model.LogID)
                @Html.HiddenFor(model => model.IsAdmin)
    <div class="thinbox">
        <div class="User">
        <div class="row">
            <label class="col-sm-12" style="text-align:center">
             <h3>@Html.ValueFor(model => model.FullName) (@Html.ValueFor(model => model.LogID))</h3>
            </label>
        </div>
            <br />
            <br />
            <div class="row">
            <label class="col-sm-4 ">
                @Html.LabelFor(model => model.OldPassword)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.OldPassword, null, new { @placeholder = "Old Password",@type="password", @class = "oldPassword required form-control " })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 ">
                @Html.LabelFor(model => model.Password)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Password, null, new { @placeholder = " Password",@type="password", @class = "required form-control " })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
             <div class="row">
            <label class="col-sm-4 ">
                @Html.LabelFor(model => model.confirmPassword)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.confirmPassword, null, new { @placeholder = " Confirm Password",@type="password", @class = "required form-control " })
                @Html.ValidationMessageFor(model => model.confirmPassword)
            </div>
        </div>
         <div class="row">
            <label class="col-sm-3">
			<button type="button" title="Edit Data" onclick="Edit();" class="Edit sym-btn-edit">&nbsp;Edit</button>
              <button type="button" title="Save Data" onclick="pageSubmit('frmUser');" class="Save sym-btn-save">&nbsp;Save</button>
            </label>
            <label class="col-sm-4">
				 <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
            </label>
        </div>
        </div>
    </div>
}
<script>
  

    $(function () {
        Edit();
        valiDation("frmUser");
        if ('@identity.IsAdmin' || '@identity.IsHRM') {
            $('.oldPassword').removeClass("required");
        }
    });
    function Edit() {
        fnReadOnly("User");
        if ($(".User").hasClass("readOnly")) {
            $(".Save").hide();
            $(".Edit").show();
        }
        else {
            $(".Save").show();
            $(".Edit").hide();
        }
    }
</script>