@{
    ViewBag.Title = "Index";
}
@using UIHelper.MVC
<div class="headrow">
    <label class="pull-right">Daily Attendance (Manual)</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Daily Attendance (Manual)</p>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                <label>Employee Code(From)</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("CodeFrom", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Employee Code(To)</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("CodeTo", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })

            </div>
        </div>

        <div class="col-md-3">
            <div class="editor-label">
                <label>@Session["DepartmentLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-label">
                <label>@Session["SectionLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>@Session["ProjectLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control selectDropdown" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                <label>Designation</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Attendance Group</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("AttendanceGroupId", "/Config/DropDown/GroupList", new { @class = " attnGroupId form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Attendance Policy</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("AttendanceStructureId", "/Config/DropDown/AttendanceStructure", new { @class = " attnStId form-control" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="editor-label">
                <label>Date From</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("Date From", "", new { @placeholder = "Date From", @class = " dtFrom customDatePicker form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Date To</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("Date To", "", new { @placeholder = "Date To", @class = " dtTo customDatePicker form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Attendance Status</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("AttendanceStatus", "/Config/DropDown/AttnStatusName", new { @class = "attnStatus form-control " })
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-2">
            <div class="editor-label">
                <label>In Time Update</label>
            </div>
            <div class="editor-field">
                @Html.CheckBox("IsInTimeUpdate", new { @class = " form-control" })
            </div>
        </div>*@


        <div class="form-group col-sm-2" style="display: flex; align-items: center; margin-top:25px;">
            <div class="editor-label">
                <label>In Time Update</label>
            </div>
            <div style="margin-left:20px" class="editor-field">
                @Html.CheckBox("IsInTimeUpdate", new { @class = "selectChk form-control" })
            </div>
        </div>


        <div class="col-md-2">
            <div class="editor-label">
                <label>New In Time</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("UpdatedInTime", "", new { @placeholder = "In Time", @class = " updatedInTime customTimePicker required form-control" })
            </div>
        </div>
        @*<div class="col-md-2">
            <div class="editor-label">
                <label>Out Time Update</label>
            </div>
            <div class="editor-field">
                @Html.CheckBox("IsOutTimeUpdate", new { @class = " form-control isOutTimeUpdate" })
            </div>
        </div>*@

        <div class="form-group col-sm-2" style="display: flex; align-items: center; margin-top:25px;">
            <div class="editor-label">
                <label>Out Time Update</label>
            </div>
            <div style="margin-left:20px" class="editor-field">
                @Html.CheckBox("IsOutTimeUpdate", new { @class =  "selectChk form-control isOutTimeUpdate" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="editor-label">
                <label>New Out Time</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("UpdatedOutTime", "", new { @placeholder = "Out Time", @class = " customTimePicker required form-control" })
            </div>
        </div>

        @*<div class="col-md-2">
            <div class="editor-label">
                <label>Next Day</label>
            </div>
            <div class="editor-field">
                @Html.CheckBox("IsNextDay", new { @class = " form-control" })
            </div>
        </div>*@

        <div class="form-group col-sm-2" style="display: flex; align-items: center; margin-top:25px;">
            <div class="editor-label">
                <label>Next Day</label>
            </div>
            <div style="margin-left:20px" class="editor-field">
                @Html.CheckBox("IsNextDay", new { @class = "selectChk form-control" })
            </div>
        </div>

    </div>

</div>
<div class="headrow">
    &nbsp;
    <button type="button" title="Click to Show Employee List" id="searchBtn" class="btn sym-btn-search">&nbsp;Search</button>
     &nbsp;
    @*<button title="Click to Show Updated List" id="loadTimeBtn" class="btn sym-btn-detail" hidden="hidden">&nbsp;Load Time</button>*@
    &nbsp;
    <button type="button" title="Update Data" id="" class="saveJSON sym-btn-update" hidden="hidden">&nbsp;Update</button>
    &nbsp;
    <button title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>
</div>

<div id="detailsDiv">
</div>
<div class="headrow" hidden="hidden">
    <button type="button" title="Update Data" id="" class="saveJSON sym-btn-update">&nbsp;Update</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.customTimePicker').ptTimeSelect();
            InitDatePickers();
            InitDropdownsCommon();
        });
        $('#Clear').click(function () {
            location.reload()
        });
        $('.saveJSON').click(function () {

            var selectedEmployee = $('.selectChk:checkbox:checked').length;

            if (selectedEmployee == 0) {
                ShowResult('Fail', "Please Select Employee First");
                return;
            }

            //////var CheckedEmployee = $(".cIsEmployeeChecked :checked").length;
            //////alert(CheckedEmployee);
            //////if (CheckedEmployee == 0) {
            //////    ShowResult("Fail", "Please Select Employee First!");
            //////    return;
            //////}

            if (pageSubmitJSON('frmDailyAttendance') == 0) {

                var isInTimeUpdate = $("#IsInTimeUpdate").is(":checked") ? true : false;
                var isOutTimeUpdate = $("#IsOutTimeUpdate").is(":checked") ? true : false;

                var isNextDay = $("#IsNextDay").is(":checked") ? true : false;

                var updatedInTime = $("#UpdatedInTime").val();
                var updatedOutTime = $("#UpdatedOutTime").val();

                obj = new Object();
                obj.isInTimeUpdate = isInTimeUpdate;
                obj.updatedInTime = updatedInTime;
                obj.isOutTimeUpdate = isOutTimeUpdate;
                obj.updatedOutTime = updatedOutTime;
                obj.isNextDay = isNextDay;



                var myData = $('#frmDailyAttendance').serialize();
                var url = "/Common/DailyAttendanceProcess/Create";

                var param = $.param(obj);
                url = url + "?" + param;

                submit(url, myData);
                $(".saveJSON").hide();
                $("#previewBtn").hide();
                Searching();
            }
        });


        $("#searchBtn").click(function () {
            Searching();
        });

        function Searching() {
            var url = '/Common/DailyAttendanceProcess/_index';

            var codeFrom = $("#CodeFrom").val();
            var codeTo = $("#CodeTo").val();

            var departmentId = $("#DepartmentId :selected").val();
            var sectionId = $("#SectionId :selected").val();
            var projectId = $("#ProjectId :selected").val();
            var designationId = $("#DesignationId :selected").val();

            var attnGroupId = $(".attnGroupId :selected").val();
            var attnStId = $(".attnStId :selected").val();

            var attnStatus = $(".attnStatus :selected").val();
            var dtFrom = $(".dtFrom").val();
            var dtTo = $(".dtTo").val();

            obj = new Object();

            obj.codeFrom = codeFrom;
            obj.codeTo = codeTo;

            obj.departmentId = departmentId;
            obj.sectionId = sectionId;
            obj.projectId = projectId;
            obj.designationId = designationId;

            obj.attnGroupId = attnGroupId;
            obj.attnStId = attnStId

            obj.attnStatus = attnStatus;
            obj.dtFrom = dtFrom;
            obj.dtTo = dtTo;


            var param = $.param(obj);
            url = url + "?" + param;

            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function () { $(".loading").show(); },
                complete: function () { $(".loading").fadeOut(200).hide("slow") },
                success: function (data) {
                    $(' #detailsDiv').html(data);


                    $(".saveJSON").show();
                    $("#previewBtn").show();
                    $(".headrow").show();
                    //ShowResult("Info", " Data load Complete");
                },
            });
        }

        $('#loadTimeBtn').click(function () {
            debugger;
            var isInTimeUpdate = $("#IsInTimeUpdate").is(":checked") ? true : false;
            var isOutTimeUpdate = $("#IsOutTimeUpdate").is(":checked") ? true : false;

            var isNextDay = $("#IsNextDay").is(":checked") ? true : false;

            var updatedInTime = $("#UpdatedInTime").val();
            var updatedOutTime = $("#UpdatedOutTime").val();

            if (isInTimeUpdate == false && isOutTimeUpdate == false) {
                ShowResult("Fail", "Please Check In or Out Checkbox!");
                return;
            }

            if (updatedInTime == "" && updatedOutTime == "") {
                ShowResult("Fail", "Please Check In or Out Time!");
                return;
            }

            if (isInTimeUpdate == true) {
                if (updatedInTime == "") {
                    ShowResult("Fail", "Please Input In Time!");
                    return;
                }
            }

            if (isOutTimeUpdate == true) {
                if (updatedOutTime == "") {
                    ShowResult("Fail", "Please Input Out Time!");
                    return;
                }
            }

            if (updatedInTime != "") {

                if (isInTimeUpdate == false) {
                    ShowResult("Fail", "Please Check In Time CheckBox!");
                    return;
                }
            }


            if (updatedOutTime != "") {
                if (isOutTimeUpdate == false) {
                    ShowResult("Fail", "Please Check Out Time CheckBox!");
                    return;
                }
            }

            $.each($(".selectChk"), function (i, item) {
                debugger;
                var intime = $(item).closest('tr').find('.inTime').val();
                var selectChk = $(this).is(":checked") ? true : false;
                if (selectChk == true) {
                    if (updatedInTime != "") {
                    $(item).closest('tr').find('.inTime').val(updatedInTime);
                    }
                    if (updatedOutTime != "") {
                        $(item).closest('tr').find('.outTime').val(updatedOutTime);
                    }
                }
            });
           
        });


   
    </script>
}
