@{
    ViewBag.Title = "Index";
}
@using UIHelper.MVC
<div class="headrow">
    <button type="button" title=" Import/Export" id="" class="sym-btn-ExportImport" data-url="/Common/EmployeeDailyOvertime/ImportDailyOvertime" onclick="GoTo(this)">&nbsp;Import/Export</button>
    <label class="pull-right">Daily Overtime</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Employee Daily Overtime</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="editor-label">
                <label>@Session["DepartmentLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-label">
                <label>@Session["SectionLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>@Session["ProjectLabel"]</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-sm-2">
            <div class="editor-label">
                @Html.Label("", "OT Date")
            </div>
            <div class="editor-field">
                @Html.TextBox("OTDate", null, new { @placeholder = "OT Date", @class = "required customDatePicker form-control" })
            </div>
        </div>
    </div>
</div>
<div class="headrow">

    <button title="Click to Show Employee List" id="Searchbtn" class="btn sym-btn-search">&nbsp;Search</button>
    &nbsp;
    <button type="button" title="Save Data" id="" class="saveJSON sym-btn-save" hidden="hidden">&nbsp;Save</button>
    <button title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>
</div>

<div id="detailsDiv">
</div>
<div class="headrow" hidden="hidden">
    <button type="button" title="Save Data" id="" class="saveJSON sym-btn-save">&nbsp;Save</button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('.saveJSON').click(function () {
            var OTDate = $("#OTDate").val();
            if (OTDate == "") {
                ShowResult("Fail", "Please Select OT Date First!");
                return;
            }

            if (pageSubmitJSON('frmEmpDailyOvertime') == 0) {
                var myData = $('#frmEmpDailyOvertime').serialize();
                var url = "/Common/EmployeeDailyOvertime/Create?OTDate=" + OTDate;
                //if (submit(url, myData) == true) {
                   
                //}




                $.ajax({
                    type: 'POST',
                    data: myData,
                    url: url,
                    beforeSend: function () { $(".loading").show(); },
                    success: function (result) {
                        var msg1 = result.split('~')[0];
                        var msg2 = result.split('~')[1];
                        ShowResult(msg1, msg2);

                        $(".saveJSON").hide();
                        Searching();

                    },
                    complete: function () { $(".loading").fadeOut(200).hide("slow") }

                });
            }
        });
        $('#Clear').click(function () {
            location.reload()
        });
        $(function () {
            InitDatePickers();
            InitDropdownsCommon();
        });

        $("#Searchbtn").click(function () {
            var OTDate = $("#OTDate").val();
            if (OTDate == "") {
                ShowResult("Fail", "Please Select OT Date First!");
                return;
            }
            Searching();
        });
        function Searching() {

            var ProjectId = $("#ProjectId").val();
            var DepartmentId = $("#DepartmentId").val();
            var SectionId = $("#SectionId").val();
            var date = $("#OTDate").val();

            var url = '/Common/EmployeeDailyOvertime/_indexPartial?ProjectId=' + ProjectId
              + '&DepartmentId=' + DepartmentId
              + '&SectionId=' + SectionId
              + '&date=' + date

            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function () { $(".loading").show(); },
                complete: function () { $(".loading").fadeOut(200).hide("slow") },
                success: function (data) {
                    $(' #detailsDiv').html(data);
                    $(".saveJSON").show();
                    $(".headrow").show();
                },
            });
        }
    </script>


}
