@model SymViewModel.Enum.EnumDistrictVM
@using UIHelper.MVC
@{

    ViewBag.Title = "Edit";
    ViewBag.Location = "Edit"; 
}

@using (Html.BeginForm("Create", "EnumDistrict", FormMethod.Post, new { @Id = "frmDistrict" }))
{
    @Html.ValidationSummary(true)
    <div class="thinbox">
        <div class="EnumDistrict">
                @Html.HiddenFor(model => model.Id)
            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.Country_E)
                </label>
                <div class="col-sm-9">
                    @Html.SimpleDropDownFor(model => model.Country_E, "/Config/DropDown/Country", new {@onchange=" loadDivision();", @class = "required form-control" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.Division_E)
                </label>
                <div class="col-sm-9">
                    <select id="Division_E" name="Division_E" data-val="" class="required form-control"> </select>
                </div>
            </div>
        <div class="row">
            <label class="col-sm-3">
                @Html.LabelFor(model => model.Name)
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Name, new { @placeholder = "District Name", @class ="required form-control" })
              
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3">
                @Html.LabelFor(model => model.Remarks)
            </label>
            <div class="col-sm-9">
                @Html.TextAreaFor(model => model.Remarks, new { @placeholder = "Remarks",@rows="1", @class =" form-control" })
                        @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>
         <div class="row">
            <label class="col-sm-3">
              
				  <button type="button" title="Save Data" onclick="pageSubmit('frmDistrict');" class="sym-btn-save">&nbsp;Save</button>
            </label>
             
            <label class="col-sm-4">
			 <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
               
            </label>
        </div>
        </div>
    </div>
}
 
<script>
    $(function () {
      
        InitDropDowns();
        valiDation("frmDistrict");
    });

    function loadDivision() {
        var dropdownElements = $("#Division_E");
        var url = "/Config/DropDown/Division?country=" + $("#Country_E").val();
        $.getJSON(url, function (item, textStatus, jqXHR) {
            var Listitems = '<option value="">Select</option>';
            $.each(item, function (i, data) {
                Listitems += "<option value='" + data.Value + "'>" + data.Text + "</option>";
            });
            dropdownElements.html(Listitems);
        });
    }
</script>