@model SymViewModel.PF.PFReportVM
@using UIHelper.MVC
@{

    ViewBag.Title = "Create";
    ViewBag.Location = "Create";
}



@using (Html.BeginForm("BalanceSheetReport", "PFReport", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmFR", @target = "_blank" }))
{
    @Html.ValidationSummary(true)
    @*@Html.HiddenFor(model => model.Id)*@
    @*@Html.HiddenFor(model => model.PFHeaderId)*@
    @*@Html.HiddenFor(model => model.Operation)*@
    <div class="thinbox">
        <div class="EnumEEHead">
            <div class="row">

                <label class="col-sm-3">
                    @Html.LabelFor(model => model.FiscalYear)
                </label>
                <div class="col-sm-9">
                    @Html.SimpleDropDownFor(model => model.FiscalYear, "/Config/DropDown/DropDownYear", new { @class = "form-control selectDropdown" })
                </div>
            </div>

            @*<div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.DateFrom)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.DateFrom, new { @placeholder = "Date From", @class = "required customDatePicker form-control" })
                    @Html.ValidationMessageFor(model => model.DateFrom)
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3">
                    @Html.LabelFor(model => model.DateTo)
                </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.DateTo, new { @placeholder = "Date To", @class = "required customDatePicker form-control" })
                    @Html.ValidationMessageFor(model => model.DateTo)
                </div>
            </div>*@
            <div class="row">
                &nbsp;
            </div>
            <div style="font-size:14px;" class="row">

                    @*<button type="button" title="Report Preview" onclick="pageSubmit('frmCOAGroup');" class="sym-btn-save">&nbsp;Preview</button>*@
                    <button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/BalanceSheetReport" onclick="reportData(this);" id="" class="sym-btn-Excel-Export">&nbsp;Preview</button>

                    &nbsp;<button type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>
                &nbsp;  <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        InitDropDowns();
        InitDateTimePickers();
        $("#Clear").on('click', function () {
            //$("#Code").val("");
            $("#Id").val("");
            $("#PFHeaderId").val("");
            $("#DateFrom").val("");
            $("#DateTo").val("");

        });
    });

    function reportData(sender) {
        var DateFrom = $("#DateFrom").val();
        var DateTo = $("#DateTo").val();

        if (DateFrom == "") {
            ShowResult("Fail", "Please select the Date From");
            return true;
        }
        else if (DateTo == "") {
            ShowResult("Fail", "Please select the Date To");
            return true;
        }
        $("#frmFR").submit();
    }

</script>
