@model SymViewModel.PF.PFReportVM
@using UIHelper.MVC
@{

    ViewBag.Title = "Create";
    ViewBag.Location = "Create";
}



@using (Html.BeginForm("EmployeeStatement", "PFReport", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmStatement" }))
{
    @Html.ValidationSummary(true)
      @Html.HiddenFor(m => m.ReportType)
    <h4>Employee Statement Report</h4>
    @*@Html.HiddenFor(model => model.Id)*@

    <div class="thinbox">
        <div class="EnumEEHead">
            @*<div class="row">
                    <label class="col-sm-3">
                        <label>Code</label>
                    </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Code, new { @placeholder = "Code", @class = " form-control" })
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-12">
                    <div class="editor-label">
                        <label>Employee Code</label>
                    </div>
                    <div class="editor-field">
                        @*@Html.SimpleDropDownFor(model => model.EmployeeId, "/Config/DropDown/EmployeeCodeNameAll", new { @id = "EmployeeId", @class = " EmpId required form-control" })*@
                        @Html.SimpleDropDown("EmployeeId", "/Config/DropDown/EmployeeCodeNameAll", new { @id = "EmployeeId", @class = " EmpId required form-control selectDropdown" })
                    </div>

                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="editor-label">
                        <label>Date From</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DateFrom, new { @placeholder = "Date From", @class = "customDatePicker  form-control" })
                        @Html.ValidationMessageFor(model => model.DateFrom)
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="editor-label">
                        <label>Date To</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DateTo, new { @placeholder = "Date To", @class = "customDatePicker  form-control" })
                        @Html.ValidationMessageFor(model => model.DateTo)
                    </div>

                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            @*<div class="row">
                <label class="col-sm-3">
                    <button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/EmployeeStatement" onclick="reportData(this);" id="" class="sym-btn-Excel-Export">&nbsp;Download</button>

                </label>

                <label class="col-sm-3">
                    <button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/EmployeeStatement" onclick="reportData1(this);" id="" class="sym-btn-report ">&nbsp;ReportFDF</button>

                </label>

                <label class="col-sm-3">
                    &nbsp;<button type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>

                </label>
                <label class="col-sm-3">
                    <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
                </label>
            </div>*@

            <div style="font-size:14px;" class="row">
               
                <button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/EmployeeStatement" onclick="reportData(this);" id="" class="sym-btn-Excel-Export">&nbsp;Download</button>
                <button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/EmployeeStatement" onclick="reportData1(this);" id="" class="sym-btn-report ">&nbsp;Report PDF</button>
                @*<button type="button" title="Click for Report" data-url="/@ViewBag.TransType/PFReport/EmployeeStatement" onclick="reportData2(this);" id="" class="sym-btn-report ">&nbsp;LedgerPDF</button>*@

                &nbsp;<button type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>
                <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
               
            </div>

        </div>
    </div>
}
<script>
    $(function () {
        $(".selectDropdown").select2();
        $(".selectDropdown").removeClass('form-control');
        InitDropDowns();
        InitDropdownsCommon();
        InitDateTimePickers();

        $("#Clear").on('click', function () {
            // Clear all input, select, and textarea fields within the form
            $("#frmStatement").find("input[type=text], select, textarea").val("");
            $("#frmStatement").find("select").val(null).trigger('change'); // Reset select2 dropdowns
        });

        //$("#Clear").on('click', function () {
        //    //$("#Code").val("");
        //    $("#Id").val("");
        //    $("#PFHeaderId").val("");
        //    $("#ReportType").val("");
         
        //    //$("#DateFrom").val("");
        //    //$("#DateTo").val("");

        //});
    });

    function reportData(sender) {
        $('#ReportType').val('Excel');
        $("#frmStatement").submit();
    }

    function reportData1(sender) {
        $('#ReportType').val('Report');
        $("#frmStatement").attr('target', '_blank').submit();
    }

    


</script>
