@model SymViewModel.HRM.EmployeeInfoVM
@using UIHelper.MVC

<div class="headrow">
    <label class="pull-right">Single Employee PF Payment</label>

    <button type="button" title="Go To Index" data-url="/@ViewBag.TransType/EmployeePFPayment" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>

</div>
<div class="thinbox">
    <div class="row">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @Html.HiddenFor(model => model.Operation)


                @if (true)
                {
                    <div class="input-group   col-lg-8  col-md-8  col-sm-12 col-xs-12 text-color" style="">
                        <a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='first' id="first"><i class="fa fa-angle-double-left"></i>&nbsp;First</a>
                        <a class="input-group-addon btn btn-primary" data-pager-action='previous' id="precode"><i class="fa fa-angle-left"></i>&nbsp;Previous</a>
                        @Html.SimpleDropDownFor(model => model.Code, "/Config/DropDown/EmployeeCodeNameAll", new { @id = "FiscalYearDetailId", @class = "form-control selectDropdown empId" })
                        <a class="input-group-addon btn btn-primary" data-pager-action='next' id="current"><i class="fa fa-search"></i></a>
                        <a class="input-group-addon btn btn-primary" data-pager-action='next' id="nextcode">Next <i class="fa  fa-angle-right"></i></a>
                        <a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='last' id="last">Last <i class="fa  fa-angle-double-right"></i></a>
                    </div>
                }
                <div class="input-group   col-lg-6  col-md-6  col-sm-12 col-xs-12 text-color" style="">
                    @*<div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="col-md-4">
                                    <div class="editor-label">
                                        <label>Year</label>
                                    </div>
                                    <div class="editor-field">
                                        <div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="editor-label">
                                        <label>Fiscal Period</label>
                                    </div>
                                    <div class="editor-field">
                                        <div>
                                            @Html.SimpleDropDownFor(model => model.FiscalYearDetailId, "/Config/DropDown/DropDownPeriodByYearLockPayroll?year=" + @Session["SessionYear"].ToString(), new { @id = "FiscalYearDetailId", @placeholder = "Fiscal Period", @class = "fpDetailsCom required form-control pull-left" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>Earning Type</label>
                                @Html.SimpleDropDownFor(model => model.EmployeeOtherEarningVM.EarningTypeId, "/Config/DropDown/EarningTypeDropDown", new { @class = " eType required form-control" })
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div id="detailsDiv"></div>

</div>

<script>
        //setTimeout(function () { otHide(); },200);

        $(function () {

            InitDropDowns();
            InitDropdownsCommon();


        });
        $(function () {

            $('#empId').autocomplete({ source: '@Url.Action("EmployeeCodeNameAll", "Autocomplete", new { area = "Config" })', minLength: 2 });
        $.get('@Url.Action("DetailCreate", "EmployeePFPayment", new { id = Model.empPFPaymentVM.Id })', function (data) {
            $('#detailsDiv').html(data);
            //otHide();
        });
    });

        $('.eType').change(function () {
            var btn = 'current';
            //setTimeout(function () { otHide(); }, 200);
            Searching(btn);
        });

        $('.eType').click(function () {
            //setTimeout(function () { otHide(); }, 200);
        });

        //$('#FiscalYearDetailId').change(function () {
        //    var btn = 'current';
        //    Searching(btn);
        //});

        $('#current').click(function () {
            var empId = $('#empId').val();
            if (empId == "") {
                ShowResult("Fail", "Please Input Code!");
                return;
            }
            var btn = 'current';
            Searching(btn);
        });

        $('#nextcode').click(function () {
            var btn = 'next';
            Searching(btn);
        });
        $('#precode').click(function () {
            var btn = 'previous';
            Searching(btn);
        });
        $('#first').click(function () {
            var btn = 'first';
            Searching(btn);
        });
        $('#last').click(function () {
            var btn = 'last';
            Searching(btn);
        });


        function Searching(btn) {
            var empid = $('.selectDropdown  :selected').text();
          empid=  empid.split('~')[0];

            //alert(empid);
            //var eTypeName = $('.eType').val();
            //var EarningTypeId = $('.eType').val();
            //var FiscalYearDetailId = $('#FiscalYearDetailId').val();


            //if (FiscalYearDetailId == "") {
            //    ShowResult("Fail", "Please Select Fiscal Year!");
            //    return;
            //}

            //if (EarningTypeId == "" || EarningTypeId == 0) {
            //    ShowResult("Fail", "Please Select Earning Type!");
            //    return;
            //}

          url = "/@ViewBag.TransType/EmployeePFPayment/DetailCreate?empcode=" + empid + '&btn=' + btn + '&id=' + '@Model.empPFPaymentVM.Id' + '&Operation=' + '@Model.Operation';
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function () { $(".loading").show(); },
                complete: function () { $(".loading").fadeOut(200).hide("slow") },
                success: function (data) {
                    $('#detailsDiv').html(data);
                    ////otHide();
                },
            });
        }

</script>

<script>
    function goBack() {
        window.history.back();
    }
    $(function () {
        InitDateTimePickers();
    });
</script>

<style>
    .text-color {
        margin: auto;
    }

        .text-color a {
            color: #ff6a00 !important;
        }

    .input-group .form-control {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
</style>