@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model SymViewModel.Common.UserGroupVM
@using UIHelper.MVC
                  

<div class="UserDetail">
      @using (Html.BeginForm("Edit", "SymUserRoll", FormMethod.Post, new { @Id = "frmSymUserRoll" }))
    {
            @Html.HiddenFor(model => model.Id)
          //  @Html.HiddenFor(model => model.LogID)

        if (Model.SymUserRollVMs.Count() > 0)
        { 
<div class="thinbox ">
    <div class="th_thinbox">
        <p >User Roll </p>
    </div>
        <div class="headrow">
            <button type="button"  title="Save Data" onclick="pageSubmit('frmSymUserRoll');"class="sym-btn-save">&nbsp;Save</button>
        </div>
    <div class="row">
        <div class="col-md-2"><label>Area</label></div>
        <div class="col-md-4"><label>Control</label></div>
        <div class="col-md-1"><label>Index</label></div>
        <div class="col-md-1"><label>Add</label></div>
        <div class="col-md-1"><label>Edit</label></div>
        <div class="col-md-1"><label>Delete</label></div>
        <div class="col-md-1"><label>Process</label></div>
        <div class="col-md-1"><label>Report</label></div>

    </div>
        @foreach (var item in Model.SymUserRollVMs)
        {
        @Html.Partial("_symUserRoll",item);
        }
          <div class="headrow">
                   <button type="submit" title="Save Data" class="sym-btn-save">&nbsp;Save</button>
        </div>
</div>
    }
    }
    </div>
@*@Html.Partial("_userList")*@;
<script>
    function submitdata() {
        var model = @Html.Raw(Json.Encode(Model))
       alert(model)
        $.ajax({
            url: "@Url.Action("Create", "SymUserRoll", new { area = "Common" })",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(model)
            })
            .done(function(data){
                console.log(data);
            });
      
    }
    $(function () {
        if ('@Model.Id' != null || typeof '@Model.Id' == 'undefined') {
            $(".UserDetail").show();
          @*  Selectemployee('@Model.UserId')*@
        }
        else {
            $(".UserDetail").hide();
        }
        var userid = $('.userid').val();
        $("#symArea").change(function () {
            $(".UserDetail").show();
            var Module = $("#symArea").val();
            //var Menu = $("#Menu").val();
            var empId = $('.userid').val();
            //Selectemployee(empId)
        })
        $("#Menu").change(function () {
            var Module = $("#Module").val();
            //var Menu = $("#Menu").val();
            var empId = $('.userid').val();
            Selectemployee(empId);
        })
        
        $(".AllIsAdd").click(function () {
            if ($('.AllIsAdd').prop('checked') == false) {
                $('.IsAdd').prop('checked', false);
            }
            else {
                $('.IsAdd').prop('checked', true);
            }
        });
        $(".AllIIndex").click(function () {
            if ($('.AllIIndex').prop('checked') == false) {
                $('.IsIndex').prop('checked', false);
            }
            else {
                $('.IsIndex').prop('checked', true);
            }
        });
        $(".AllIEdit").click(function () {
            if ($('.AllIEdit').prop('checked') == false) {
                $('.IsEdit').prop('checked', false);
            }
            else {
                $('.IsEdit').prop('checked', true);
            }
        });
        $(".AllDelete").click(function () {
            if ($('.AllDelete').prop('checked') == false) {
                $('.IsDelete').prop('checked', false);
            }
            else {
                $('.IsDelete').prop('checked', true);
            }
            $(".AllProcess").click(function () {
                if ($('.AllProcess').prop('checked') == false) {
                    $('.IsProcess').prop('checked', false);
                }
                else {
                    $('.IsProcess').prop('checked', true);
                }
            });
        });
    })

    function Selectemployee() {
        var symArea = $("#symArea").val();
        var Id = $("#Id").val();

        var url = "/Common/SymUserRoll/SelectUserForRollSearch?Id=" + Id + '&SymArea=' + symArea;
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (data) {
                //$('#detailsDiv').html(data);
            },
        });
    }
</script>


