@{
    ViewBag.Title = "ImportExportPF";
}

@using UIHelper.MVC
<div class="headrow">
    <label class="pull-right">PF Import Export> Excel Import/Export</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>PF Contribution Import Export</p>
    </div>

    <div class="row">
        <div class="thinbox col-md-5" style="left: 35%;">

            <div class="th_thinbox">
                <p>Fiscal Year</p>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Year</label>
                    </div>

                    <div class="editor-field">
                        @*<div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>*@
                        @Html.SimpleDropDown("FiscalYear", "/Config/DropDown/DropDownYear", new { @class = " fiscalyearCom required form-control selectDropdown" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        <label>Fiscal Period</label>
                    </div>

                    <div class="editor-field">
                        <div>
                            @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = "required fpDetailsCom form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Project</label>
                    </div>
                    <div class="editor-field">
                        <div>
                            @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @Id = "ProjectId", @class = "required sectionsCom form-control " })
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="thinbox col-md-6">
            <div class="th_thinbox">
                <p>PF Contribution Export</p>
            </div>
            <div class="row">

                @*<div class="col-md-1">
                        <div class="editor-label">
                            <label>Year</label>
                        </div>

                        <div class="editor-field">
                            <div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>
                        </div>
                    </div>*@

                @*<div class="col-md-2">
                        <div class="editor-label">
                            <label>Fiscal Period</label>
                        </div>

                        <div class="editor-field">
                            <div>
                                @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = "required fpDetailsCom form-control" })
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-6">
                    <div class="editor-label">
                        <label>Employee Code(From)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        <label>Employee Code(To)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })

                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="editor-label">
                        <label>Designation</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="editor-label">
                        <label>@Session["DepartmentLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        <label>@Session["SectionLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                    </div>
                </div>

                
              
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="editor-label">
                        <label>@Session["ProjectLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        <label>Order By</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("Orderby", "/Config/DropDown/EnumOrderBy?Module=Salary", new { @class = "required form-control" })
                    </div>
                </div>
               
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button id="btnSearch" class="sym-btn-Excel-Export" type="button">&nbsp;Download</button>
                </div>
            </div>
        </div>

        <div class="thinbox col-md-5" style="margin-left: 20px;">
            <div class="th_thinbox">
                <p>PF Contribution Import</p>
            </div>
            @using (Ajax.BeginForm("ImportPFDetailExcel", "PFDetail", null, new AjaxOptions { }, new { enctype = "multipart/form-data", id = "ImportPFDetailExcel" }))
            {
                @Html.Hidden("FYDId");
                @Html.Hidden("PId");
                

                <div class="col-md-6">

                    <div class="col-md-6">
                        <label>File</label>
                        <input type="file" accept=".xlsx" name="file" id="FileUpload" style="width: 200px;" class="required" />
                    </div>
                </div>
                <div class="col-md-6">

                    <label>&nbsp;</label>
                    @*<button type="button" onclick="pageSubmit('ImportOtherEarningExcel');" class="sym-btn-file-upload" value="Upload" style="width: 50%; text-align: center;">&nbsp;Upload</button>*@
                    <button type="button" onclick="ImportOtherEarning();" class="sym-btn-file-upload" value="Upload" style="width: 50%; text-align: center;">&nbsp;Upload</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        InitDropdownsCommon();
        valiDation('ImportPFDetailExcel');
    });
    $('#btnSearch').click(function () {
        //var path = window.location.href;
        var fid = $("#FiscalPeriodDetailId").val();
        var ProjectId = $("#ProjectId").val();
        var DepartmentId = $("#DepartmentId").val();
        var SectionId = $("#SectionId").val();
        var DesignationId = $("#DesignationId").val();
        var CodeF = $("#CodeF").val();
        var CodeT = $("#CodeT").val();
        var ETId = $("#EarningTypeId").val();
        var Orderby = $("#Orderby").val();

        if (fid == "") {
            ShowResult('Fail', "Please Select Fiscal year");
            return;
        }
        if (ProjectId == "") {
            ShowResult('Fail', "Please Select Project Id");
            return;
        }
        //if (ETId == "") {
        //    ShowResult('Fail', "Please Select  Earning Type!");
        //    return false;
        //}

        if (Orderby == "") {
            ShowResult('Fail', "Please Select Order By ");
            return false;
        }

        window.location = '@Url.Action("DownloadPFDetailsExcel", "PFDetail")' + '?fid=' + fid
                  + '&ProjectId=' + ProjectId
                  + '&DepartmentId=' + DepartmentId
                  + '&SectionId=' + SectionId
                  + '&DesignationId=' + DesignationId
                  + '&CodeF=' + CodeF
                  + '&CodeT=' + CodeT
                  + '&ETId=' + ETId
                  + '&Orderby=' + Orderby
    });
</script>

<script>

    function ImportOtherEarning() {
        debugger;
        var FiscalYearDetailId = $('#FiscalPeriodDetailId').val();
        var ProjectId = $('#ProjectId').val();

        if (FiscalYearDetailId == "") {
            ShowResult('Fail', "Please Select Fiscal year");
            return;
        }
        if (ProjectId == "") {
            ShowResult('Fail', "Please Select Project Id");
            return;
        }
        $('#FYDId').val(FiscalYearDetailId);
        $('#PId').val(ProjectId);


        

        ////console.log(FiscalYearDetailId); FYDId

        var url = "/Common/FiscalYear/FiscalPeriodLockCheck?FiscalYearDetailId=" + FiscalYearDetailId;

        $.ajax({
            url: url
               , type: 'Post'
               , traditional: true
               , beforeSend: function () { $(".loading").show(); }
               , success: ImportData
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });
        
    }

    function ImportData(result) {
        debugger;
        var results = result.split("~");

        if (results[0].toLowerCase() == 'true') {

            ShowResult("Fail", results[1]);

        }
        else {

            pageSubmit('ImportPFDetailExcel');

        }

    }


</script>