@model SymViewModel.HRM.EmployeeInfoVM
@using UIHelper.MVC
<style>
    input[type='text'], input[type='password'], textarea {
        margin: 0px !important;
    }
</style>

@using (Html.BeginForm("Create", "EmployeeTransfer", FormMethod.Post, new { @Id = "afrmEmployeeEdit" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="thinbox">
                <div class="th_thinbox">
                    <p>@Model.EmpName</p>
                </div>
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Operation)
                    @Html.HiddenFor(model => model.empTransferVM.Id, new { @class = "cTransferId" })
                    @Html.HiddenFor(model => model.empTransferVM.EmployeeId)
                    @Html.HiddenFor(model => model.empTransferVM.Post, new { @class = "cPost" })

                    <div class="editor-label col-md-4">
                        <label><b>Code</b></label>
                    </div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.Code, new { @placeholder = "Employee Code", @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>

                    <div class="editor-label col-md-4">@Html.LabelFor(model => model.JoinDate)</div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.JoinDate, new { @placeholder = "Join Date", @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.JoinDate)
                    </div>

                    <div class="editor-label col-md-4">@Html.LabelFor(model => model.Designation)</div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.Designation, new { @placeholder = "Designation", @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Designation)
                    </div>

                    <div class="editor-label col-md-4"><label>@Session["DepartmentLabel"]</label></div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.Department, new { @placeholder = "Department", @class = "form-control", @disabled = "disabled" })
                    </div>

                    <div class="editor-label col-md-4"><label>@Session["SectionLabel"]</label></div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.Section, new { @placeholder = "Section", @class = "form-control", @disabled = "disabled" })
                    </div>

                    <div class="editor-label col-md-4"><label>@Session["ProjectLabel"]</label></div>
                    <div class="editor-field col-md-8">
                        @Html.TextBoxFor(model => model.Project, new { @placeholder = "Project", @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="thinbox">
                <div class="row" id="ot">
                    <div class="col-md-3">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.EmployeeContribution)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.empTransferVM.EmployeeContribution, new { @placeholder = "Employee Contribution", @class = "cEmployeeContribution form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.EmployeeContribution)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.EmployerContribution)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.empTransferVM.EmployerContribution, new { @placeholder = "Employer Contribution", @class = "cEmployerContribution form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.EmployerContribution)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.EmployeeProfit)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.empTransferVM.EmployeeProfit, new { @placeholder = "Employee Profit", @class = "cEmployeeProfit form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.EmployeeProfit)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.EmployerProfit)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.empTransferVM.EmployerProfit, new { @placeholder = "Employer Profit", @class = "cEmployerProfit form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.EmployerProfit)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.OpeningDate)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.empTransferVM.OpeningDate, new { @placeholder = "Transfer Date", @class = "dpDate cOpeningDate customDatePicker required form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.OpeningDate)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="editor-label">@Html.LabelFor(model => model.empTransferVM.Remarks)</div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.empTransferVM.Remarks, new { @placeholder = "Remarks", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.empTransferVM.Remarks)
                        </div>
                    </div>
                </div>

                <div class="headrow">
                    <button type="button" title="Save Data" id="SaveJSON" class="Save sym-btn-save">&nbsp;Save</button>
                    <button type="button" title="Update Data" id="UpdateJSON" class="Save sym-btn-update">Update</button>
                    <button type="button" title="Post Data" id="PostJSON" class="Save sym-btn-post">&nbsp;Post</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        InitDateTimePickers();
        InitDropDowns();
        checkvalue();

        if ('@Model.Code' == null || '@Model.Code' == "") {
            $('#empId').val("");
        } else {
            $('#empId').val('@Model.Code~@Model.EmpName');
        }
        $('.selectDropdown').val('@Model.Code').change();
        valiDation("afrmEmployeeEdit");
    });

    function checkvalue() {
        var empTransferId = '@Model.empTransferVM.Id';
        var operation = '@Model.Operation';

        if (empTransferId == 0 || empTransferId == "") {
            $("#SaveJSON").show();
            $("#UpdateJSON").hide();
            $("#PostJSON").hide();
        } else {
            if (operation == "add") {
                $("#SaveJSON").show();
                $("#UpdateJSON").hide();
            } else {
                $("#SaveJSON").hide();
                $("#UpdateJSON").show();
            }
            $("#PostJSON").show();
        }
    }

    function checkbtn() {
        $("#SaveJSON").hide();
        $("#UpdateJSON").show();
        $("#PostJSON").show();
    }

    $('#SaveJSON').click(function () {
        var OpeningDate = $('.cOpeningDate').val();
        var Code = $('#Code').val();

        if (Code == "") {
            ShowResult("Fail", "Please Select Code!");
            return;
        }
        if (OpeningDate == "") {
            ShowResult("Fail", "Please Select Transfer Date!");
            return;
        }

        var myData = $('#afrmEmployeeEdit').serialize();
        var url = "/@ViewBag.TransType/EmployeeTransfer/Create";

        $.ajax({
            url: url,
            data: myData,
            type: 'POST',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (data) {
                var msg1 = data.split('~')[0];
                var msg2 = data.split('~')[1];
                var msg3 = data.split('~')[2];

                if (msg1.toLowerCase() == "success") {
                    checkbtn();
                    $('#Id').val(msg3);
                    $('.cTransferId').val(msg3);
                }

                ShowResult(msg1, msg2);
            },
        });
    });

    $('#UpdateJSON').click(function () {
        var OpeningDate = $('.cOpeningDate').val();
        var Post = $('.cPost').val();
        var Code = $('#Code').val();

        if (Code == "") {
            ShowResult("Fail", "Please Select Code!");
            return;
        }
        if (OpeningDate == "") {
            ShowResult("Fail", "Please Select Transfer Date!");
            return;
        }
        if (Post.toLowerCase() == "true") {
            ShowResult("Fail", "This transaction already posted!");
            return;
        }

        var myData = $('#afrmEmployeeEdit').serialize();
        var url = "/@ViewBag.TransType/EmployeeTransfer/Update";
        submit(url, myData);
    });

    $('#PostJSON').click(function () {
        var Post = $('.cPost').val();
        var Code = $('#Code').val();

        if (Code == "") {
            ShowResult("Fail", "Please Select Code!");
            return;
        }
        if (Post.toLowerCase() == "true") {
            ShowResult("Fail", "This transaction already posted!");
            return;
        }

        var myData = $('#afrmEmployeeEdit').serialize();
        var url = "/@ViewBag.TransType/EmployeeTransfer/Post";
        submit(url, myData);
    });
</script>
