@model SymViewModel.HRM.EmployeeInfoVM
@using UIHelper.MVC

<div class="headrow">
    <label class="pull-right">Single Employee Transfer</label>
    <button type="button" title="Go To Index" data-url="/@ViewBag.TransType/EmployeeTransfer" onclick="GoTo(this)" class="sym-btn-detail">&nbsp;Index</button>

    @if (Model.empTransferVM.Id != null)
    {
        <button type="button" title="Add New Employee Transfer" data-url="/@ViewBag.TransType/EmployeeTransfer/SingleEmployeeTransferEdit?TransferId=&Operation=add" onclick="GoTo(this)" class="sym-btn-add">&nbsp;New</button>
        <button type="button" title="Click to view Transfer Report" onclick="window.open('/@ViewBag.TransType/EmployeeTransfer/ReportView?id=@Model.empTransferVM.Id')" class="sym-btn-report">&nbsp;Report</button>

        if (Model.empTransferVM.Post)
        {
            <button type="button" title="Click for Journal" onclick="window.open('/@ViewBag.TransType/Journal/Create?JournalType=1&TransactionForm=Transfer&TransactionId=@Model.empTransferVM.Id')" class="sym-btn-bank-row">&nbsp;Journal</button>
        }
    }
</div>

<div class="thinbox">
    <div class="row">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @Html.HiddenFor(model => model.Operation)

                <div class="input-group col-lg-8 col-md-8 col-sm-12 col-xs-12 text-color">
                    <a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='first' id="first"><i class="fa fa-angle-double-left"></i>&nbsp;First</a>
                    <a class="input-group-addon btn btn-primary" data-pager-action='previous' id="precode"><i class="fa fa-angle-left"></i>&nbsp;Previous</a>
                    @Html.SimpleDropDownFor(model => model.Code, "/Config/DropDown/EmployeeCodeName", new { @id = "EmployeeCode", @class = "form-control selectDropdown empId" })
                    <a class="input-group-addon btn btn-primary" data-pager-action='next' id="current"><i class="fa fa-search"></i></a>
                    <a class="input-group-addon btn btn-primary" data-pager-action='next' id="nextcode">Next <i class="fa fa-angle-right"></i></a>
                    <a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='last' id="last">Last <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="detailsDiv"></div>
</div>

<script>
    $(function () {
        InitDropDowns();
        InitDropdownsCommon();

        $('#empId').autocomplete({ source: '@Url.Action("EmployeeCodeAll", "Autocomplete", new { area = "Config" })', minLength: 2 });

        $.get('@Url.Action("DetailCreate", "EmployeeTransfer", new { id = Model.empTransferVM.Id })', function (data) {
            $('#detailsDiv').html(data);
        });
    });

    $('#current').click(function () {
        var empId = $('#empId').val();
        if (empId == "") {
            ShowResult("Fail", "Please Input Code!");
            return;
        }
        var btn = 'current';
        Searching(btn);
    });

    $('#nextcode').click(function () { Searching('next'); });
    $('#precode').click(function () { Searching('previous'); });
    $('#first').click(function () { Searching('first'); });
    $('#last').click(function () { Searching('last'); });

    function Searching(btn) {
        var empid = $('.selectDropdown :selected').text();
        empid = empid.split('~')[0];

        var url = "/@ViewBag.TransType/EmployeeTransfer/DetailCreate?empcode=" + empid + "&btn=" + btn + "&id=" + '@Model.empTransferVM.Id' + "&Operation=" + '@Model.Operation';
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow"); },
            success: function (data) {
                $('#detailsDiv').html(data);
            },
        });
    }

    function goBack() {
        window.history.back();
    }

    $(function () {
        InitDateTimePickers();
    });
</script>

<style>
    .text-color {
        margin: auto;
    }

        .text-color a {
            color: #ff6a00 !important;
        }

    .input-group .form-control {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
</style>
