@using UIHelper.MVC
@{
    Layout = null;
}
 


                                                                                                                            
             <div class="col-md-1">@Html.SimpleDropDown("CodeF1", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF2", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF3", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF4", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF5", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF6", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF7", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF8", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF9", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF10", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF11", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF12", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF13", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF14", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF15", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF16", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF17", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF18", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="col-md-1">@Html.SimpleDropDown("CodeF19", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>

 
