@using UIHelper.MVC
@{
    //Layout = "~/Areas/Common/Views/Shared/_RosterLayout.cshtml";
    
}
<style>
    .ThreeCent {
    float: left;
    width: 3%;
}
</style>
 <div style="width:3000px;" class="row">
 
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF1", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF2", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF3", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF4", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF5", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF6", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF7", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF8", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF9", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF10", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF11", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF12", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF13", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF14", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF15", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF16", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF17", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF18", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF19", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })  </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF20", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF21", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF22", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF243", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF25", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF26", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF27", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF28", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF29", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF30", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>
             <div class="ThreeCent">@Html.SimpleDropDown("CodeF31", "/Config/DropDown/EmployeeCode", new { @class = " form-control" })   </div>

 </div>