@model SymViewModel.Common.AppraisalQuestionSetDetailVM
@using UIHelper.MVC
@{ int serialNo = 1; }
<div class="row question-row">
    @using (Html.BeginCollectionItem("AppraisalQuestionSetDetaiVMs"))
    {
        <div class="col-md-1" style="margin-top: 10px;">
            <span class="serial-number" style="font-size: 1.2em; width: 12px; display: inline-block; font-family: inherit">@serialNo</span>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.QuestionId)
            @Html.HiddenFor(model => model.CategoryName)
            @Html.HiddenFor(model => model.QuestionName)

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a id="" onclick="RemoveProduct(this);" class="sym-btn-remove-row "></a>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "dCategoryName form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.QuestionName, new { @class = "dQuestionName form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsOwn, new { @class = "cIsOwn form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsTeamLead, new { @class = "cIsTeamLead form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsHR, new { @class = "cIsHR form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsCOO, new { @class = "cIsCOO form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsMD, new { @class = "cIsMD form-control" })
                </div>
            </div>

            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsP1, new { @class = "cIsP1 form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsP2, new { @class = "cIsP2 form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsP3, new { @class = "cIsP3 form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsP4, new { @class = "cIsP1 form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.IsP5, new { @class = "cIsP5 form-control" })
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(document).ready(function () {
        updateSerialNumbers(); // Initialize serial numbers on page load

        function updateSerialNumbers() {
            $(".question-row").each(function (index) {
                $(this).find(".serial-number").text(index + 1); // Update serial number dynamically
            });
        }

        window.removeRow = function (element) {
            $(element).closest(".question-row").remove(); // Remove the row
            updateSerialNumbers(); // Recalculate serial numbers
        };

        window.addNewRow = function () {
            let newRow = $(".question-row").first().clone(); // Clone the first row
            newRow.find("input").val(""); // Clear input values
            $("#questionSetContainer").append(newRow); // Append new row
            updateSerialNumbers(); // Update numbering
        };
    });

</script>

