@model IEnumerable<SymViewModel.Common.ApplicantEmployeementHistoryVM>
@using UIHelper.MVC
@{
    ViewBag.Title = "_applicantEmployeementHistory";
}
<style>
    .details {
        grid-template-columns: 1fr 1fr 2fr 1fr;
        display: grid;
        gap: 2px;
        margin: 5px 0;
    }

    .qualifil input {
        font-size: 14px;
        font-weight: 400;
    }
    .pfltable td, .pfltable tr {
        border: none!important;
        font-size: 14px;
        padding: 0
    }
   
</style>
<div class="detail">
    @if (Model != null && Model.Any())
    {       
         <h2>Employeement History</h2>
      
        foreach (var item in Model)
        {            
            <table class="pfltable">
                <tr> 
                    <td width="25%" style="font-size: 16px!important"><strong>Company Name</strong></td>
                    <td>:</td>
                    <td style="font-size: 16px !important"><strong>@item.CompanyName</strong></td>
                    <td>
                        <a href="@Url.Action("DeleteEmployeementHistory", "JobCircular", new { Id = item.Id, ApplicantId = item.ApplicantId })">
                            <span class="sym-btn-remove-row"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Company Business</td>
                    <td>:</td>
                    <td>@item.CompanyBusiness</td>
                </tr> 
                <tr>
                    <td>Designation</td>
                    <td>:</td>
                    <td>@item.ApplicantDesignation</td>
                </tr> 
                <tr>
                    <td>Department</td>
                    <td>:</td>
                    <td>@item.ApplicantDepartment</td>
                </tr> 
                <tr>
                    <td>Employment Period</td>
                    <td>:</td>
                    <td>@item.EmploymentPeriod</td>
                </tr> 
                <tr>
                    <td>To Date</td>
                    <td>:</td>
                    <td>@item.ToDate</td>
                </tr>             
                <tr>
                    <td>Currently Working</td>
                    <td>:</td>
                    <td>@item.CurrentlyWorking</td>
                </tr> 
                <tr>
                    <td>Responsibilities</td>
                    <td>:</td>
                    <td>@item.Responsibilities</td>
                </tr> 
                <tr>
                    <td>Experience</td>
                    <td>:</td>
                    <td>@item.AreaOfExperience</td>
                </tr> 
                <tr>
                    <td>Company Location</td>
                    <td>:</td>
                    <td>@item.CompanyLocation</td>
                </tr>                
            </table>
       
        }
    }
    else
    {
        <p>No employment history available.</p>
    }
</div>
<script>
    $(function () {

    });
    $(document).ready(function () {

    });
</script>
